APP_BASE_URL=http://localhost/fortelescopes
DB_DRIVER=mysql
# APP_DB_PATH=C:/xampp/htdocs/fortelescopes/data/site.sqlite
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=aspierd1_fortelescopes
DB_USER=aspierd1_admin
DB_PASS=UnoDosTresCuatroCinco12345...
DB_CHARSET=utf8mb4
ADMIN_USER=admin
ADMIN_PASS=change-this-now
AMAZON_ASSOCIATE_TAG=fortelescopes-20
# ENMA_ADVANCED_KEY=change-this-super-secret
# AMAZON_PAAPI_KEY=
# AMAZON_PAAPI_SECRET=
